@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin media-hover {
    @media (hover: hover) {
        &:not(:disabled):hover {
            @content;
        }
    }

    @media (hover: none) {
        &:not(:disabled):active {
            @content;
        }
    }
}
