:root {
    --font-family-base: Poppins, sans-serif;
    --font-family-alt: Inter, sans-serif;

    --color-primary: #fff;
    --color-primary1: #363738;
    --color-secondary: #f5f5f5;
    --color-secondary1: #fefaf1;
    --color-text: #fafafa;
    --color-text1: #7d8184;
    --color-text2: #000;
    --color-secondary2: #db4444;
    --color-button1: #00ff66;
    --color-button2: #db4444;
    --color-button-hover1: #e07575;
    --color-button-hover2: #a0bce0;

    --border: 1px solid rgba(0, 0, 0, 0.3);
    --border-dark: 1px solid rgba(0, 0, 0, 0.6);
    --container-padding-inline: 135px;

    --transition-duration: 0.2s;

    @media (max-width: 1280px) {
        --container-padding-inline: 75px;
    }

    @media (max-width: 1024px) {
        --container-padding-inline: 35px;
    }
}
